header {
    background: #7c0168;
}
header .logo {
    font-weight: bold;
    color: rgb(243, 158, 219);
    text-decoration: none;
}
header nav {
    justify-self: right;
}
header nav ul {
    list-style-type: none;
    
}
header nav ul li {
    float: right;
}
header nav ul li a {
    padding: 1.5em;
    text-transform: uppercase;
    color: rgb(243, 158, 219);
    text-decoration: none;
}
header nav ul li a:hover {
    color: white;
}