img{
    width: 320px;
    height: 290px;
    margin-left: 80px;
    padding: 20px;
}
p{
    margin-left: 175px;
}
#caption{
    width: 320px;
    font-size:60%;
    text-align: right;
    margin-left: 70px;
}
table{
    margin-top: -20px;
}
